table {
  width: 100%;
  font-size: 18px;
  color: #e2e2e2;
  // border: 1px solid $grey;
  border-collapse: collapse;
}

td{
  border: 1px solid $grey;
  padding: 5px;
  vertical-align: top;

  strong {
    color: $peach;
  }

  a {
    color: $light-violet;
    text-decoration: none;
  }

  a:hover {
    color: lighten($color: $light-violet, $amount: 0.3);
    border-bottom: 1px solid rgb(121, 75, 247);
  }

  span {
    color: $peach;
  }

  code {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 90%;
    background: none;
    color: #e3e3e3  ;
  }
}

code,
pre {
  margin-top: 5px;
	color: black;
	text-shadow: none;
	background: #e9e9e9;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}