// .footer, .wrapper::after {
//   height: 50px; 
// }

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;

  // background-color: #fff;
  // position: absolute; 
  // bottom: 0; 
  // width: 100%; 
  // height:54px;
  // position: absolute;
  // width: 100%;
  // height: 40px;
  // left: 0;
  // bottom: 0;
  // text-align: center;
  font-family: $assistant;
  font-weight: 500;
  color: rgb(110,110,110);
  
  p {
    font-size: 10px;
  }
  
  a {
    color: $tan;
    text-decoration: none;
  }

  a:hover {
    color: rgb(121, 75, 247);
  }
}