.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  
  p {
    font-size: 12px;
  }
  
  a {
    color: $tan;
    text-decoration: none;
  }

  a:hover {
    color: rgb(121, 75, 247);
  }
}