.nav {
  margin: 10px 0px 10px 0px;

}

.nav-title {
  float: left;
  width: 50%;
}

.nav-title h1{
  color: blue;
  margin: 0px;
}

.nav-subtitle {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}

.nav-menu {
  margin-top: 10px;
  float: right;
  text-align: right;
  width: 50%;
  display: inline-block;
}