.nav {
  margin: 5px 0px 40px 0px;
}

.nav-title {
  float: left;
  width: 50%;

  a {
  color: white;
  margin: 0px;
  font-family: $miriam;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
}

h1{
  color: white;
  margin: 0px;
  font-family: $miriam;
  font-weight: 700;
  text-transform: uppercase;  
}

.nav-subtitle {
  margin-top: 5px;
  margin-bottom: 5px;
  color: $tan;
  font-size: 14px;
  font-family: $miriam;
  font-weight: 500;
  text-transform: uppercase; 
}

.nav-menu {
  margin-top: 10px;
  float: right;
  text-align: right;
  width: 50%;
  display: inline-block;
  color: rgb(210,210,210);
  font-size: 14px;
  font-family: $miriam;
  font-weight: 500;
  text-transform: uppercase;

  a {
    color: rgb(210,210,210);
    text-decoration: none;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
  }

  a:hover {
    color: rgb(121, 75, 247);
    // border-bottom: 3px solid rgb(121, 75, 247);
  }

  .router-link-exact-active {
    color: rgb(121, 75, 247);
  }
}

.seperator {
  color: $peach;
}