.nav {
  margin: 10px 0px 10px 0px;

}

.nav-title {
  float: left;
  width: 50%;
}

.nav-title h1{
  color: blue;
  margin: 0px;
}

.nav-menu {
  float: right;
  text-align: right;
  width: 50%;
  display: inline-block;
}