.planets-section {
  padding: 1rem 0rem 0rem 0rem;
}

.date-section {
  text-align: center;
  margin: 10px 0px 30px 0px;
  font-family: $assistant;
  font-weight: 400;
  font-size: 18px;

  button {
    background: none;
    color: rgb(196, 196, 196);
    border: 1px rgb(109, 109, 109) solid;
    border-radius: 0px;
    padding: 5px 10px 5px 10px;
    margin: 0px 10px 0px 10px;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
  }

  button:hover {
    background: rgba(226, 133, 110, 0.205);
    color: white;
    border: 1px rgb(170, 170, 170) solid;
  }

  button:active {
    background: rgba(228, 154, 136, 0.699);
    color: white;
    border: 1px rgb(216, 216, 216) solid;
  }
}

.date-info {
  font-size: 12px;
  margin-bottom: 5px;
}

hr {
  width: 40%;
  height: 1px;
  color: $grey;
  background-color: $grey;
  border: none;
}

.planet-box {
  background: rgba(255,255,255,0.1); 
  margin: 5px;
  height: 280px;
}

.planet-box:hover {
    background: rgba(255,255,255,0.2);
  }

.columns {
    margin-left: 0;
    margin-right: 0;
}

.column {
  position: relative;
}

.planet-box img {
  margin: 0 auto;
  display: block;
  padding: 0px 0px 5px 0px;
  position: relative;
}

.planet-name {
  text-align: center;
  margin: 0px 0px 0px 0px;
  font-family: $miriam;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $peach;
}

.info-section {
  position: absolute;
  bottom: 20px;
  left: 10px;
  width: 92%;
}

.info {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  font-family: $assistant;
  font-weight: 500;
}

.direction-title {
  margin: 10px 0px 10px 0px;
}

.direction {
  text-align: center;
  margin-top: 10px;
  font-family: $miriam;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: $tan;
}

.time-true {
  float: right;
}

.time-false {
  float: right;
  color: rgb(110,110,110);  
}

.sign-true {
  float: right;
}

.sign-false {
  float: right;
  color: rgb(110,110,110);  
}

.degrees-true {
  float: right;
}

.degrees-false {
  float: right;
  color: rgb(110,110,110);  
}

.minutes-true {
  float: right;
}

.minutes-false {
  float: right;
  color: rgb(110,110,110);  
}