body {
  background: rgb(17, 45, 65);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgb(17, 45, 65), rgb(46, 46, 77));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgb(17, 45, 65), rgb(46, 46, 77)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  width: 60%;
  margin: 0 auto;
  display: block;
}

h1 {
  font-size: 1.5rem;
  color: white;
}

p {
  font-family: $assistant;
  font-size: 18px;
  color: #e2e2e2;
}

.title {
  position: relative;
  width: 100%;

  h2 {
  font-family: $miriam;
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  text-align: center; 
  }

  h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 50%;
    height: 3px;
    background: $peach;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, $tan), color-stop(100%, $peach));
    // padding-top: 20px;
    // border-width: 3px;
    // border-style: solid;
    // -webkit-border-image: -webkit-gradient(linear, 0 0, 100% 0,  from($tan), to($peach));
    background: -webkit-linear-gradient(left, $tan 0%, $peach 100%);
    background: -moz-linear-gradient(left, $tan 0%, $peach 100%);
    background: -ms-linear-gradient(left, $tan 0%, $peach 100%);
    background: -o-linear-gradient(left, $tan 0%, $peach 100%);
    background: linear-gradient(to left, $tan 0%, $peach 100%);
  }
}

.text-box {
  width: 60%;
  margin: 0 auto;

  a {
    color: rgb(210,210,210);
    text-decoration: none;
  }

  a:hover {
    color: rgb(121, 75, 247);
    border-bottom: 3px solid rgb(121, 75, 247);
  }
}

.note p{
  width: 60%;
  margin: 0 auto;
  font-size: 12px;
  color: $tan;
}

.error-404 {
  display:block;
  margin: 0 auto;
  background-image: url("/../img/404.png");
  background-repeat:no-repeat;
  background-size: contain;
  background-position: center;
  height: 80vh;

  h1 {
    font-family: $assistant;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    position: relative;
    top: 48%;
    // right: 50%;
  }
}