body {
  background: rgb(17, 45, 65);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgb(17, 45, 65), rgb(46, 46, 77));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgb(17, 45, 65), rgb(46, 46, 77)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  width: 60%;
  margin: 0 auto;
  display: block;
}

h1 {
  font-size: 1.5rem;
  color: white;
}

p {
  line-height: 10px;
}

.error-404 {
  display:block;
  margin: 0 auto;
  background-image: url("/../img/404.png");
  background-repeat:no-repeat;
  background-size: contain;
  background-position: center;
  height: 80vh;

  h1 {
    font-family: $assistant;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    position: relative;
    top: 48%;
    // right: 50%;
  }
}