
// Body
$body-bg: rgb(28, 37, 43);

// Fonts
$miriam: 'Miriam Libre', sans-serif;
$assistant: 'Assistant', sans-serif;

// Colors
$gunmetal: #1C232B;
$grey: #88a2aa;
$violet: #2b1847;
$light-violet: rgb(121, 75, 247);
$tan: #ada296;
$peach: #e2856e;
